*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
    --scroll: 0;
}

html,body,ul,li,dl,dd,dt,form,fieldset,button,h1,h2,h3 {margin: 0;padding: 0;}


html {
    min-height: 100%;
    height: 100%;
    background-color: #dde5e8;
}

body {
    font-family: Inter var,ui-sans-serif,system-ui,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji;
    font-style: normal;
    font-weight: 415;
    font-size: 28px;
    line-height: 'tnum' on, 'lnum' on;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
    min-height: 100%;
    height: 100%;
    color: #141616;
    overflow-x: hidden;
}

a {
    color: #2e3232;
    text-decoration: solid;
}

img {
    width: 100%;
    filter: drop-shadow(10px 10px 10px rgb(53, 49, 49));
}

h1 {
    font-size: 110px;
    line-height: 1em;
    font-weight: 560;
    margin-bottom: 0.3em;
}

figure {
    position: absolute;
    padding: 0;
    margin: 0;
    opacity: 1;
    transform: translateX(0) translateY(0);
}

#header {
    position: fixed;
    width: 50%;
    height: 40px;
    left: 10px;
    top: 0;
    padding: 80px;
    z-index: 4;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    transform: translateY(0);
    pointer-events: none;
    will-change: transform;
}


.wordmark {
    transform: scale(calc(var(--sizeDown) / 100));
    transform-origin: center left;
    transition: color 0.5s ease, transform 0.1s ease-out;
    will-change: transform;
}

section {
    min-height: 100%;
    text-align: center;
    padding: 100px 80px;
}


.full-screen-section {
    height: 100vh;
    text-align: center;
    padding: 1rem;
    position: relative;
}
  
.landing-section .left-side,
.landing-section .right-background {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}
  
.landing-section {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    padding: 0;
    height: 100%;
    width: 100%;
}
  
.landing-section .left-side {
    background-color: rgb(248, 250, 249, var(--background-opacity));
    position: relative;
    width: 50%;
    height: 100%;
    padding: 80px;
    text-align: left;
}

.landing-section .right-background {
    position: relative;
    width: 50%;
    height: 100%;
}
  
.landing-section .right-background {
    background: linear-gradient(
      210.65deg,
      rgb(152, 157, 157, var(--background-opacity)) 0%,
      rgb(189, 194, 194, var(--background-opacity)) 100%
    );
}

.landing-section {
    position: sticky;
    top: 0;
    /* (oldVal - oldMin) * newRange / oldRange + newMin */
    translate: 0 calc(-1% * (max(var(--scroll), 25) - 25) * 100 / 75);
    --background-opacity: calc(100% - 1% * min(var(--scroll), 30) * 100 / 30);
}

@keyframes floating {
    0% { transform: translate(0,  0px); }
    50%  { transform: translate(0, 10px); }
    100%   { transform: translate(0, -0px); }    
}


.add-to-server-button {
    align-items: center;
    justify-content: center;
    text-align: center;
    display: inline-flex;
}


#ui1 {
    transition: transform 0.5s ease-in-out;
    top: -30px;
    left: 15%;
    width: 680px;
    height: 360px;
}

#ui1:hover {
    transform: translateX(50px);
}

#ui1:not(:hover) {
    transform: translateX(0);
}


#ui2 {
    animation-name: floating;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    top: 28%;
    left: -90px;
    width: 615px;
    height: 349px;
}


#ui3 {
    transition: transform 0.25s ease-out;
    bottom: -230px;
    width: 462px;
    height: 515px;
}


#ui3:hover {
    transform: scale(1.3);
    transition: transform 0.3s ease-out;
}


#ui4 {
    animation-name: floating;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    right: -75px;
    bottom: -200px;
    width: 370px;
    height: 370px;
}


.hidden-img {
    display: none;    
}

@keyframes flip {
    0%,80% {
        transform: rotateY(360deg) 
    }
}

.left-side h1 {
    animation-name: flip;
    animation-duration: 2s;
    animation-iteration-count: 1;
    animation-timing-function: ease-in-out;
    animation-delay: .2s;
}


@media (max-width: 1200px) {
    .landing-section .right-background {
      display: none;
    }
  
    .landing-section .left-side {
        text-align: center;
        align-items: normal;
        width: 100%;
        background-color: #e1e3e4;
    }

    body {
      font-size: 24px;
    }
  
    h1 {
      font-size: 94px;
    }

    #header {
        padding: 10px;
    }

    .hidden-img {
        display: block;
        position: relative;
        bottom: -15%;
        animation-name: floating;
        animation-duration: 3s;
        animation-iteration-count: infinite;
        animation-timing-function: ease-in-out;
        border-radius: 15px;
        border: 5px solid #e9bbdc;
    }

    #header {
        padding: 60px;
        width: 100%;
    }

    .left-side h1 {
        margin-top: 25%;
        
    }

    .left-side .invite_url {
        align-items: center;
    }
}

@supports (mix-blend-mode: difference) {
    #header {
        mix-blend-mode: difference;
    }
}


.add-to-server-button {
    background-color: #5865F2;
    border-radius: 10px 10px 10px 10px;
    height: 84px;
    width: 300px;
    box-shadow: 5px 5px 5px rgb(71, 65, 65);
    line-height: 84px;
    vertical-align: middle;
    gap: 16px;
}

.add-section .add-to-server-button{
    position: relative;
}

.add-to-server-button svg {
    vertical-align: middle;
    margin-right: 16px; 
}

.add-to-server-button span {
    vertical-align: middle;
}


footer {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: flex-start;
    padding: 5px;
    background-color: rgb(228, 232, 233);
}